node_modules/
app-user/client/node_modules/.cache/tsconfig.tsbuildinfo
app-user/client/node_modules/.cache/default-development/index.pack.old
app-user/client/node_modules/.cache/default-development/index.pack
app-user/client/node_modules/.cache/default-development/9.pack
app-user/client/node_modules/.cache/default-development/7.pack
app-user/client/node_modules/.cache/default-development/8.pack
app-user/client/node_modules/.cache/default-development/6.pack
app-user/client/node_modules/.cache/default-development/4.pack
app-user/client/node_modules/.cache/default-development/3.pack
app-user/client/node_modules/.cache/default-development/2.pack
app-user/client/node_modules/.cache/default-development/12.pack
app-user/client/node_modules/.cache/default-development/10.pack
app-user/client/node_modules/.cache/default-development/11.pack
app-user/client/node_modules/.cache/default-development/1.pack
